Options +FollowSymlinks
RewriteEngine On
RewriteBase /Inr-Plan/mem/

# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^.]+)$ $1.php [L]

# Block direct .php access
RewriteCond %{THE_REQUEST} ^[^\ ]*\ /[^\ ]*\.php
RewriteRule ^(.*)\.php$ /Inr-Plan/mem/$1 [R=301,L]
